* {margin: 0;padding: 0;}

body {  }




/* ----::::||====|| Home Page ||====||::::---- */




.homepage-wrapper
{
	width: 100vw;
	height: 110vh;
	background-image: url(images/SoccerfieldStadium.jpg);
}
.homepage-header
{
	width: 100vw;
	display: flex;
	justify-content: flex-end;
}
.homepage-header button
{
	border-radius: 0px;
	background: #545454;
	border: 5px solid #696969;
	box-sizing: border-box;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
	color: #B9B9B9;
	padding: 10px;
	margin-right: 10px;
	margin-top: 10px;
}
.homepage-header i
{
	font-size: 2.7em;
}
.homepage-header a
{
	color: inherit;
}
.homepage-content
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 95%;
	margin: 0 auto;
}
.homepage-content div
{
	background: #2A2A2A;
	border: 5px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px;
	text-align: center;
	height: 85%;
	width: 40%;
}

/* --::|| App Download Div ||::-- */

.app-download h1
{
	font-family: passion one;
	font-weight: lighter;
	font-size: 3.5em;
	margin-bottom: 25px;
	color: #FFF;
	text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}
.app-download img
{
	height: 275px;
	width: 500px;
	margin: 20px 0px;
}
.app-download p
{
	font-family: righteous;
	font-size: 2em;
	width: 75%;
	color: rgba(255, 255, 255, 0.6);
}
.app-download button
{
	font-family: righteous;
	font-size: 2em;
	color: white;
	background: #545454;
	border: 5px solid #696969;
	box-sizing: border-box;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
	padding: 10px 0px;
	width: 300px;
	text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
	margin-top: 25px;
}

/* --::|| New Team Div ||::-- */

.new-team{
	display: flex;
	flex-direction: column;
}
.new-team h1{
	font-family: passion one;
	font-weight: lighter;
	font-size: 3.5em;
	color: #FFF;
	text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
	width: 85%;
}

.new-team p{
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
	font-size: 2.0em;
	font-family: righteous;
	font-weight: lighter;
	margin: 90px 0px;
	width: 95%;
}
.new-team a{
	font-family: righteous;
	font-size: 2em;
	color: white;
	background: #545454;
	border: 5px solid #696969;
	box-sizing: border-box;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
	padding: 10px 0px;
	text-decoration: none;
	width: 300px;
	text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

/* --::|| games and teams div ||::-- */

.games-teams-div{
	display: flex;
	flex-direction: column;
}
.games-teams-div h1{
	font-family: passion one;
	font-weight: lighter;
	font-size: 3.5em;
	color: #FFF;
	text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
	width: 85%;
}
.games-teams-div img {

	height: 275px;
	width: 500px;
	margin: 20px 0px;
}

.games-teams-div p{
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
	font-size: 2.0em;
	font-family: righteous;
	font-weight: lighter;
	margin: 55px 0px;
	width: 95%;
}
.games-teams-div a{
	font-family: righteous;
	font-size: 2em;
	color: white;
	background: #545454;
	border: 5px solid #696969;
	box-sizing: border-box;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
	padding: 10px 0px;
	text-decoration: none;
	width: 300px;
	text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}




/* ----::::||====|| Login Page ||====||::::---- */




.login-wrapper
{
	width: 100vw;
	height: 100vh;
	background-image: url(images/SoccerfieldStadium.jpg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-div
{
	background: #2A2A2A;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 40px 20px 40px;
}

.login-div h1
{
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
	font-family: passion one;
	font-weight: lighter;
	color: #FFF;
	letter-spacing: 5%;
	font-size: 3.5em;
	margin-bottom: 15px;
}
.login-div form
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.login-div p
{
	font-family: righteous;
	font-weight: lighter;
	font-size: 0.8em;
	color: #D1D1D1;
}

.login-div a
{
	color: #0094FF;
}

.login-form input
{
	background: #545454;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
	padding: 10px 10px;
	width: 250px;
	margin-bottom: 15px;
	text-align: center;
	font-family: righteous;
	box-shadow: inset 3px 3px 7px rgba(29, 29, 29, 0.30);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	border: 0.5px solid #696969;
}

.login-form input::placeholder
{
	color: #B9B9B9;
}

#login-button
{
	margin: 15px 0px 25px 0px;
	padding: 5px 10px;
	width: 120px;
	border-radius: 0px;
	background: #545454;
	border: 3px solid #696969;
	box-sizing: border-box;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
	color: #B9B9B9;
}




/* ----::::||====|| Register Page ||====||::::---- */




.register-wrapper
{
	width: 100vw;
	height: 100vh;
	background-image: url(images/SoccerfieldStadium.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.register-div
{
	background: #2A2A2A;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 40px 20px 40px;
}
.register-div h1
{
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
	font-family: passion one;
	font-weight: lighter;
	color: #FFF;
	letter-spacing: 5%;
	font-size: 3.5em;
	margin-bottom: 15px;
}
.register-div p
{
	font-family: righteous;
	font-weight: lighter;
	font-size: 0.8em;
	color: #D1D1D1;
}
.register-div a
{
	color: #0094FF;
}
.register-div form
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.register-div form input
{
	background: #545454;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
	padding: 10px 10px;
	width: 250px;
	margin-bottom: 15px;
	text-align: center;
	font-family: righteous;
	box-shadow: inset 3px 3px 7px rgba(29, 29, 29, 0.30);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	border: 0.5px solid #696969;
}
.register-div form input:focus{border: none;}
.register-div form input::placeholder{color: #B9B9B9;}

#register-button
{
	margin: 15px 0px 25px 0px;
	padding: 5px 10px;
	width: 120px;
	border-radius: 0px;
	background: #545454;
	border: 3px solid #696969;
	box-sizing: border-box;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
	color: #B9B9B9;
}




/* ----::::||====|| Add Team Page ||====||::::---- */




.addteam-header
{
	width: 100vw;
	display: flex;
	justify-content: flex-end;
}

.addteam-header a
{
	border-radius: 0px;
	background: #545454;
	border: 5px solid #696969;
	box-sizing: border-box;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
	color: #B9B9B9;
	padding: 10px;
	margin-right: 10px;
	margin-top: -18px;
}

.addteam-header i
{
	font-size: 2.5em;
}

.addteam-wrapper
{
	width: 100vw;
	height: 100vh;
	background-image: url(images/SoccerfieldStadium.jpg);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.addteam-div
{
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto;
	background: #2A2A2A;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
	border-radius: 15px;
	padding: 10px;
}
.addteam-div h2
{
	font-family: passion one;
	font-weight: lighter;
	color: rgba(255, 255, 255, 0.8);
	letter-spacing: 0.05em;
	font-size: 2em;
	padding: 10px 25px;
}
.addteam-div h3
{
	font-family: passion one;
	font-weight: lighter;
	letter-spacing: 0.05em;
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
	font-size: 2em;
	margin-bottom: 10px;
}
.addteam-div div
{
	display: flex;
	flex-direction: column;
}
.addteam-div input
{
	background: #4E4E4E;
	border: 2.5px solid #696969;
	box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
	width: 300px;
	height: 40px;
	font-size: 2em;
	padding: 5px;
}
.addteam-div label
{
	font-family: righteous;
	font-weight: lighter;
	color: rgba(255, 255, 255, 0.9);
	font-size: 1em;
	letter-spacing: 0.05em;
	margin-bottom: 5px;
}
#addPlayer-button
{
	background: #4E4E4E;
	border: 2.5px solid #696969;
	box-sizing: border-box;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
	font-family: righteous;
	font-size: 1.5em;
	width: 100px;
	height: 30px;
	color: rgba(255, 255, 255, 0.6);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: flex-end;
	margin-top: 10px;
}
.team-name
{
	grid-area: 1/1/2/2;
	border: 1.5px solid #696969;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
}
.new-player
{
	grid-area: 2/1/3/2;
	border: 1.5px solid #696969;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
}
#firstName
{
	margin-bottom: 10px;
}

/* --::|| Team Display Div ||::-- */

.team-display
{
	grid-area: 1/2/3/3;
	background: #555555;
	border: 4px solid #696969;
	box-sizing: border-box;
	box-shadow: inset 4px 4px 25px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
}

.team-display a{
	font-family: righteous;
	font-size: 1em;
	color: white;
	padding: 10px 0px;
	text-decoration: none;
	width: 300px;

}

.players-display
{
	background: #555555;
	border: 5px solid #696969;
	box-sizing: border-box;
	box-shadow: inset 4px 4px 25px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	border-bottom: 2.5px;
	width: 400px;
	height: 90%;
}

.players-display ul
{
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.players-display ul:first-child
{
	margin-top: -2.5px;
}
.players-display li
{
	background: #4E4E4E;
	border: 2.5px solid #696969;
	box-sizing: border-box;
	box-shadow: inset 4px 4px 25px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	height: 55px;
	width: 95%;
	text-align: center;
	padding: 10px;
	padding-top: 13px;
	font-family: righteous;
	letter-spacing: 0.05em;
	color: rgba(255, 255, 255, 0.6);
}
#makeTeam-Button
{
	background: #2A2A2A;
	border: 5px solid #4E4E4E;
	box-sizing: border-box;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
	font-family: righteous;
	font-size: 1.5em;
	width: 250px;
	height: 70px;
	color: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	margin-top: 10px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

/* ----::::||====|| Reset Password Page ||====||::::---- */

.reset-wrapper
{
	width: 100vw;
	height: 100vh;
	background-image: url(images/SoccerfieldStadium.jpg);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.reset-div
{
	background: #2A2A2A;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 40px 20px 40px;
}

.reset-div h1
{
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
	font-family: passion one;
	font-weight: lighter;
	color: #FFF;
	letter-spacing: 5%;
	font-size: 3em;
	margin-bottom: 15px;
}

.reset-form
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reset-form input
{
	background: #545454;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
	padding: 10px;
	width: 275px;
	margin-bottom: 15px;
	text-align: center;
	font-family: righteous;
	box-shadow: inset 3px 3px 7px rgba(29, 29, 29, 0.30);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	border: 0.5px solid #696969;
	color: rgba(255, 255, 255, 1);
	font-size: 1.3em;
}

.reset-form input::placeholder
{
	color: #B9B9B9;
}

#resetButton
{
	background: #2A2A2A;
	border: 5px solid #4E4E4E;
	box-sizing: border-box;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
	font-family: righteous;
	font-size: 1.3em;
	color: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	margin-top: 10px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	width: 175px;
}

/* ----::::||====|| overview pages ||====||::::---- */

.overview-wrapper
{
	width: 100vw;
	height: 100vh;
	background-image: url(images/SoccerfieldStadium.jpg);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.overview-header
{
	width: 100vw;
	display: flex;
	justify-content: flex-end;
}

.overview-header button
{
	border-radius: 0px;
	background: #545454;
	border: 5px solid #696969;
	box-sizing: border-box;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
	color: #B9B9B9;
	padding: 10px;
	margin-right: 10px;
	margin-top: 10px;
}
.overview-header i
{
	font-size: 2.7em;
}
.overview-header a
{
	color: inherit;
}

.overview-display
{
	grid-area: 1/2/3/3;
	background: #555555;
	border: 4px solid #696969;
	box-sizing: border-box;
	box-shadow: inset 4px 4px 25px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
}

.overview-display a{
	font-family: righteous;
	font-size: 1em;
	color: white;
	padding: 10px 0px;
	text-decoration: none;
	width: 300px;

}

.teams-overview-display
{
	background: #555555;
	border: 5px solid #696969;
	box-sizing: border-box;
	box-shadow: inset 4px 4px 25px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	border-bottom: 2.5px;
	width: 400px;
	height: 90%;
}

.teams-overview-display ul
{
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.teams-overview-display ul:first-child
{
	margin-top: -2.5px;
}
.teams-overview-display li
{
	background: #4E4E4E;
	border: 2.5px solid #696969;
	box-sizing: border-box;
	box-shadow: inset 4px 4px 25px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	height: 55px;
	width: 95%;
	text-align: center;
	padding: 10px;
	padding-top: 13px;
	font-family: righteous;
	letter-spacing: 0.05em;
	color: rgba(255, 255, 255, 0.6);
}
.schedule-display
{
	background: #555555;
	border: 5px solid #696969;
	box-sizing: border-box;
	box-shadow: inset 4px 4px 25px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	border-bottom: 2.5px;
	width: 400px;
	height: 90%;
}
.schedule-display p
{
	color: white;
}

.schedule-display ul
{
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}